body {
    background: #2A2B3C;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    color: slategrey;
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased !important;
    color: rgba(255,255,255,0.3);
}

button {
    background-color: gainsboro;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: steelblue;
}

/* button.img {
    position: relative;
    left: 0px;
    top: 0px;
} */

#PlayPause {
    background-image: url(PlayPause.png);
}

#Stop {
    background-image: url(Stop.png);
}

#Smaller {
    background-image: url(Smaller.png);
}

#Bigger {
    background-image: url(Bigger.png);
}

#Fullscreen {
    background-image: url(Fullscreen.png);
}

#Subtitles {
    background-image: url(Subtitles.png);
}


#headline {
    position: relative;
}

#controls {
    position: absolute;
    right: 10px;
    top: 10px;
    display:hidden;
}

button.ctrl {
    width: 100px;
    height: 50PX;
    background-size: contain;
}

#chapters {
    float: left;
    clear: right;
    width: calc(20% - 40px);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background:  #2A2B3C;
}

#chapters h1{
    color: #5E5F77;
}

button.chap {
    width: calc(100% - 10px);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: #8E90B5;
    background: rgba(255,255,255,0.1);
}
#videoCont {
    width: calc(80% - 40px);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
    background: #15151B;
}

#video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#videoDescription p {
    color: rgba(255,255,255,0.3);
}

video::cue {
     background-color: #fff;
     color: #fff;
    text-shadow: 2px 2px 2px 2px black;
}

.infobar {
    width: 100%;
}

#creators {
    text-align: right;
}
